<h2>Employee List</h2>

<table >
    <thead>
        <tr>
            <th scope="col"> Name</th>
            <th> Email</th>
            <th>JobTitle</th>
            <th> PhoneNumber</th>
            <th> ImageUrl</th>
            <th> EmployeCode</th>
            <th>Actions </th>

    
        </tr>

    </thead>
   <tbody>
     <tr *ngFor = 'let employee of employees'>
        <td>{{employee.name}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.jobtitle}}</td>
        <td>{{employee.phone}}</td>
        <td>{{employee.imageUrl}}</td>
        <td>{{employee.employCode}}</td>
        <td>
            <button (click) = "updateEmployee(employee.id)" class="btn btn-info">Update</button>
            <button (click) = "deleteEmployee(employee.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
            <button (click) = "employeeDetails(employee.id)" class="btn btn-info" style="margin-left: 10px">View</button>


        </td>


     </tr>
   </tbody>
</table>


